<html>
  <head>
    <title>{{ app_title }} - Add new menu item in {{ restaurant.name }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')  }}">
  </head>
  <body>
    <div class="container">
      
      <div class="app-title">
          <h1><a href="{{ url_for('restaurant_list')  }}">{{ app_title }}</a></h1>
      </div>
      <div class="rest-name">
        <h2>{{ restaurant.name }}</h2>
      </div>

      <div class="section">
        <div class="row">
          <h3>Add new menu item</h3>
        </div>
        <div class="row">
          <form action="{{ url_for('menu_item_new', restaurant_id=restaurant.id) }}" method="post">
            <label for="name">Name</label>
            <input name="name" type="text" size="30" placeholder="Menu item name" />

            <label for="description">Description</label>
            <input type="text" name="description" type="text" size=30 placeholder="Menu item description" />

            <label for="price">Price</label>
            <input type="text" placeholder="Item price" class="text"  name="price" />

            <input type="submit" value="Add" name="submit">
            <input type="submit" value="Cancel" name="submit">
          </form>
        </div>
      </div>
    
    </div>
  
  </body>
</html>
