<html>
  <head>
    <title>{{ app_title }} - {{ restaurant.name }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      
      <div class="app-title">
          <h1><a href="{{ url_for('restaurant_list')  }}">{{ app_title }}</a></h1>
      </div>
      <h2>{{ restaurant.name }}</h2>
      <a class="button button-add" href="{{ url_for('menu_item_new', restaurant_id=restaurant.id) }}">Add new menu item</a> 
  
      {% with messages = get_flashed_messages()%}
        {% if messages %}
        <ul class="flash">
          {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
 
      {% for item in menu_items %}
      <div class="section">
        <div class="row">
          <h4>{{ item.name }}</h4>
        </div>
        <div class="row">
          <p>{{ item.description }}</p>
          <p class="price">{{ item.price }}</p>
        </div>
        <div class="row">
          <a class="button" href="{{ url_for('menu_item_edit', restaurant_id=restaurant.id, menu_item_id=item.id) }}">Edit</a>
          <a class="button" href="{{ url_for('menu_item_delete', restaurant_id=restaurant.id, menu_item_id=item.id) }}">Delete</a>
        </div>
      </div>
      {% endfor %}
    
    </div>
  
  </body>
</html>
