<html>
  <head>
    <title>{{ app_title }} - Edit {{ menu_item.name }} on {{ restaurant.name }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')  }}">
  </head>
  <body>
    <div class="container">
      
      <div class="app-title">
       <h1><a href="{{ url_for('restaurant_list')  }}">{{ app_title }}</a></h1>
      </div>

      <div class="rest-name">
        <h2>{{ restaurant.name }}</h2>
      </div>

      <div class="section">
        <div class="row">
          <h3>Edit {{ menu_item.name }}</h3>
        </div>
        <div class="row">
          <form action="{{ url_for('menu_item_edit', restaurant_id=restaurant.id, menu_item_id=menu_item.id) }}" method="post">
            <label for="name">Name</label>
            <input name="name" type="text" size="30" placeholder="{{ menu_item.name}}" />

            <label for="description">Description</label>
            <input name="description" type="text" size="30" placeholder="{{ menu_item.description }}" />

            <label for="price">Price</label>
            <input name="price" type="text" size="30" placeholder="{{ menu_item.price }}" />

            <input class="button" type="submit" value="Save" name="submit">
            <input class="button" type="submit" value="Cancel" name="submit">
          </form>
        </div>
      </div>
    
    </div>
  
  </body>
</html>
