<html>

<head>
  <title>{{ app_title }}</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="container">

    <div class="app-title">
     <h1><a href="{{ url_for('restaurant_list')  }}">{{ app_title }}</a></h1>
    </div>
    <a class="button button-add" href="/restaurant/new">Add new restaurant</a> 

    {% with messages = get_flashed_messages()%}
      {% if messages %}
      <ul class="flash">
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    
    {% for restaurant in restaurants %}
    <div class="section">
      <div class="row">
        <h3><a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}">{{restaurant.name}}</a></h3>
      </div>
      <div class="row">
        <a class="button" href="{{ url_for('restaurant_edit', restaurant_id=restaurant.id) }}">Edit</a>
        <a class="button" href="{{ url_for('restaurant_delete', restaurant_id=restaurant.id) }}">Delete</a>
      </div>
    </div>
    {% endfor %}

  </div>

</body>

</html>
