<html>
  <head>
    <title>{{ app_title }} - Edit {{ restaurant.name }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')  }}">
  </head>
  <body>
    <div class="container">
      
      <div class="app-title">
        <h1><a href="{{ url_for('restaurant_list')  }}">{{ app_title }}</a></h1>
      </div>


      <div class="section">
        <div class="row">
          <h3>Edit {{ restaurant.name }}</h3>
        </div>
        <div class="row">
          <form action="{{ url_for('restaurant_edit', restaurant_id=restaurant_id) }}" method="post">
            <label for="name">Name</label>
            <input name="name" type="text" size="30" placeholder='{{ restaurant.name }}' />

            <input class="button" type="submit" value="Save" name="submit">
            <input class="button" type="submit" value="Cancel" name="submit">
          </form>
        </div>
      </div>
    
    </div>
  
  </body>
</html>
