body {
  background: #AAA;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  text-shadow: 0 0 2px rgba(0,0,0,0.1);
}

p {
  margin: 4px 5px 16px 4px;
}

.app-title {
  background: #cacaca; 
  margin: 0 auto 20px auto;
  max-width: 400px;
  padding: 1px;
  text-align: center;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3),
                    0 0 5px rgba(0, 0, 0, 0.6);
  border: 1px solid black;
}

.app-title h1 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #222;
  text-transform: uppercase;
  margin: 5px 0 5px 0;

}

.container {
  background: #EEE;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.3),
              5px 5px 15px rgba(0, 0, 0, 1);
  padding: 40px;
  border: 1px solid black;
}

.container a {
  
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.row {
  padding: 3px 0 3px 0;
}

.row h3,h4 {
  margin: 6px 0 6px 0;
}

.section {

  background-color: rgba(0,0,0,0.1);
  box-shadow: inset 0 0 100px rgba(0,0,0,0.2),
              0 0 4px rgba(0,0,0,0.4);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 4px 10px 4px 10px;
  border: 1px solid black;
}

.button {
  margin: 0 3px 0 3px;
  padding: 3px 7px 3px 7px;
  background: rgba(255,255,255,0.2);
  border: 1px solid black;
  border-radius: 1px;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  font-size: 1em;
}

.button:hover {
  background: rgba(255,255,255,0.6);
}

input {
  display: block;
  font-size: 1em;
  margin: 5px 0 5px 0;
}

input[type="submit"] {
  display: inline-block;
}

.price {
  font-weight: 600;
}

.flash {
  text-shadow: 0 0 2px rgba(0,0,0,0.1), 0 0 0 30px white;
  list-style-type: none;
}

.flash li:before,li:after {
  content: '*'
}
